	/* CSS Document */
@charset "UTF-8";* {padding:0;margin:0;outline:none;}
*body {padding:0;margin:0;}
body {font-family:Arial, Helvetica, sans-serif;margin:0;padding:0;font-size:12px;color:#000;background:#090a07;}
@font-face {font-family:'Calibri';src:url('fonts/calibri-webfont.eot');src:url('fonts/calibri-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/calibri-webfont.woff') format('woff'), url('fonts/calibri-webfont.ttf') format('truetype'), url('fonts/calibri-webfont.svg#calibri-webfont') format('svg');font-weight:normal;font-style:normal;}
@font-face {font-family:'OpenSansRegular';src:url('fonts/opensans-regular-webfont.eot');src:url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-regular-webfont.woff') format('woff'), url('fonts/opensans-regular-webfont.ttf') format('truetype'), url('fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');font-weight:normal;font-style:normal;}
@font-face {font-family:'Museo700-Regular';src:url('fonts/museo700-regular.eot');src:url('fonts/museo700-regular.eot?#iefix') format('embedded-opentype'), url('fonts/museo700-regular.woff') format('woff'), url('fonts/museo700-regular.ttf') format('truetype'), url('fonts/museo700-regular.svg#museo700-regular') format('svg');font-weight:normal;font-style:normal;}
@font-face {font-family:'OpenSansSemiboldRegular';src:url('fonts/opensans-semibold-webfont.eot');src:url('fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/opensans-semibold-webfont.woff') format('woff'), url('fonts/opensans-semibold-webfont.ttf') format('truetype'), url('fonts/opensans-semibold-webfont.svg#OpenSansSemiboldRegular') format('svg');font-weight:normal;font-style:normal;}
@font-face {font-family:'SansRegular';src:url('fonts/hlr_____0-webfont.eot');src:url('fonts/hlr_____0-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/hlr_____0-webfont.woff') format('woff'), url('fonts/hlr_____0-webfont.ttf') format('truetype'), url('fonts/hlr_____0-webfont.svg#SansRegular') format('svg');font-weight:normal;font-style:normal;}
@font-face {font-family:'SansationBold';src:url('fonts/sansation_bold-webfont.eot');src:url('fonts/sansation_bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sansation_bold-webfont.woff') format('woff'), url('fonts/sansation_bold-webfont.ttf') format('truetype'), url('fonts/sansation_bold-webfont.svg#SansationBold') format('svg');font-weight:normal;font-style:normal;}
@font-face {font-family:'SansationRegular';src:url('fonts/sansation_regular-webfont.eot');src:url('fonts/sansation_regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sansation_regular-webfont.woff') format('woff'), url('fonts/sansation_regular-webfont.ttf') format('truetype'), url('fonts/sansation_regular-webfont.svg#SansationRegular') format('svg');font-weight:normal;font-style:normal;}
@font-face {font-family:'SariMedium';src:url('fonts/sari-medium-webfont.eot');src:url('fonts/sari-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/sari-medium-webfont.woff') format('woff'), url('fonts/sari-medium-webfont.ttf') format('truetype'), url('fonts/sari-medium-webfont.svg#SariMedium') format('svg');font-weight:normal;font-style:normal;}
h1, h2, h3, h4 ,h5, h6, a ,p ,img ,span,form,d1,dt,dd,li,ul,ol, label, br {padding:0;margin:0;font-weight:normal;}
img {border:0px;margin:0;padding:0;}
.txt_align_center {text-align:center !important;}
.clear {padding:0;margin:0;height:0px;clear:both;}
.Fleft {float:left!important;}
.Fright {float:right!important;}
.mrgn_lft {margin-left:34px !important;}
.mrgn_bottom {margin-bottom:10px !important;}
.padding_bottom {padding-bottom:100px !important;}
.nobtmmargin {margin-bottom:0px !important;}
.nomarginbtm {margin-bottom:0px !important;}
.Middle {vertical-align:middle;}
.nobdr {border:none!important;}
.nobg {background:none!important;}
.nomargin {margin:0px!important;}
.nopadding {padding:0px!important;}
.nopaddingright {padding-right:0px !important;}
a {
    text-decoration: none;
    outline: none;
}
.full-image {height:auto;left:0;min-height:100%;min-width:1024px;position:fixed;top:0;width:100%;z-index:-999;}
#wrapper {width:1000px;height:auto;margin:0 auto;}

marquee {
    font: 20px/24px 'SariMedium';
    color: #115b05;
    padding: 10px 0 10px;}
/*...............................Header starts............................*/
.header {width:1000px;height:107px;background:url(../images/header-bg.jpg) no-repeat left top;}
.header .logo {width:187px;height:72px;float:left;margin:20px 0 15px 29px;background:url(../images/logo.png) no-repeat 0 0;}
.header .logo a {text-decoration:none;display:block;cursor:pointer;text-indent:-9999px;height:72px;}
.header_right {width:225px;height:auto;float:right;margin-top:8px;}
.header_right img {padding:0 0 3px 0;}
.header_right_top {height:auto;}
.header_right_top span {font-weight:bold;}
.header_right_top p {font-family:"Calibri";font-size:15px;line-height:20px;color:#474747;font-weight:bold;}
.header_right_top p img {float:left;padding:0 10px 0 5px;}
.header_right_top p a {font-family:"Calibri";font-size:15px;line-height:20px;color:#474747;text-decoration:none;}
.header_right_top p a:hover {text-decoration:none;color:#6d8e06;}
/*...............................Header Ends............................*/
/*...............................Navigation starts............................*/
.Navigation {width:1000px;height:39px;background:url(../images/navigation-bg.png) repeat-x left top;float:left;}
.Navigation ul, .menu ul {list-style:none;}
.Navigation ul li, .menu ul li {float:left;background:url(../images/menu-divider.jpg) no-repeat left top;}
.Navigation ul li a, .menu ul li a {font-family:'SariMedium';font-size:15px;line-height:39px;color:#ffffff;text-decoration:none;padding:0 30px;display:block;}
.Navigation ul li a:hover, .menu ul li a:hover {text-decoration:none;color:#009900;}
.Navigation ul li a.menu_pad {padding-right:0;}

.Navigation2 {width:1000px;height:39px;background:url(../images/navigation-bg.png) repeat-x left top;float:left; display:block; position:relative;}
.Navigation2 ul, .menu ul {list-style:none;}
.Navigation2 ul li, .menu ul li {float:left;background:url(../images/menu-divider.jpg) no-repeat left top;}
.Navigation2 ul li a, .menu ul li a {font-family:'SariMedium';font-size:15px;line-height:39px;color:#ffffff;text-decoration:none;padding:0 40px;display:block;}
.Navigation2 ul li a:hover, .menu ul li a:hover {text-decoration:none;color:#009900;}
.Navigation2 ul li a.menu_pad {padding-right:0;}

.menu{ display:none; position:relative; z-index:99999;}
/*...............................Nacigation Ends............................*/
/*...............................Banner starts............................*/
.banner {width:1000px;height:auto;float:left;position:relative;}
.banner_right {width:538px;height:auto;float:right;position:absolute;top:61px;left:449px;}
.banner_right h1 {font-family:'Museo700-Regular';font-size:45px;line-height:52px;color:#ffffff;}
.banner_right p {font-family:'OpenSansRegular';font-size:13px;line-height:20px;color:#ffffff;}
.readmore {width:90px;height:auto;float:left;margin-top:10px;}
.readmore a {font-family:'OpenSansRegular';font-size:13px;line-height:20px;color:#ffffff;background:url(../images/circle-icon.png) no-repeat right 1px;text-decoration:none;padding-right:18px;}
.readmore a:hover {text-decoration:none;color:#5ba70a;}
/*...............................Banner Ends............................*/
/*...............................Container starts............................*/
.container {width:1000px;height:auto;background:url(../images/container-bg.jpg) no-repeat left top #faefdd;margin:0 auto;}
.container_inner {width:936px;height:auto;margin:-36px 32px 0 32px;position:relative;z-index:999;float:left;}
.container_inner_left {width:232px;height:auto;float:right;background:#FFFFFF;border-left:#e4e3e3 solid 1px;border-bottom:1px solid #e4e3e3;border-top:1px solid #e4e3e3;margin:0;}
.container_inner_left h2 {margin:0px;padding:0px;width:202px;background:url(../images/circle-green.png) no-repeat 8px 9px;font-family:'SariMedium';font-size:15px;line-height:35px;color:#363434;padding:0 0 0 30px;}
.container_inner_left h2 a {font-family:'SariMedium';font-size:15px;line-height:35px;color:#363434;text-decoration:none;}
.container_inner_left h2 a:hover {text-decoration:none;color:green;}
.container_inner_left ul {list-style:none;float:left;padding:10px 0;}
.container_inner_left ul li {background:url(../images/hand.png) no-repeat 9px 5px;}
.container_inner_left ul li a {display:block;font-family:"Calibri";font-size:13px;color:#000000;padding-left:30px;text-decoration:none;line-height:22px;}
.container_inner_left ul li a:hover {text-decoration:none;color:green;}
.container_inner1 {width:934px;height:auto;background:#faefdd;margin:0 auto;}
.container_inner1 img {padding:0px;float:left;margin:22px 10px 15px 0;}
.container_inner1 h1 {font-family:'SariMedium';font-size:29px;line-height:52px;color:#696969;text-transform:none;margin:-40px 0 0 0;}
.container_inner1 p span {font-family:"Calibri";font-size:15px;line-height:20px;color:#535353;font-style:italic;}
.container_inner1 p {font-family:"Calibri";font-size:14px;line-height:22px;color:#000;margin:0px 0 4px 0;}
.container_inner1 .read {width:80px;height:auto;float:left;}
.container_inner1 .read a {font-family:'OpenSansRegular';font-size:12px;line-height:20px;color:#6d8e06;text-decoration:none;background:url(../images/arrow.png) no-repeat right 3px;padding-right:11px;}
.container_inner1 .read a:hover {text-decoration:none;color:#575757;}
/*...............................container Ends............................*/
/*...............................Fotter starts............................*/
.fotter_wrapper {width:1000px;background:url(../images/fotter-wrapper-bg.jpg) no-repeat right bottom transparent;}
.fotter_wrapper .left {float:left;height:75px;padding:55px 0 0 0;}
.fotter_wrapper .right {float:right;height:107px;padding:23px 0 0 0;}
.fotter {float:left;background:url(../images/footerbg.gif) repeat-x left bottom;height:18px;margin:0;padding:57px 0 10px 223px;width:715px;}
.fotter ul {list-style:none;}
.fotter ul li {float:left;font-family:"Calibri";font-size:14px;color:#707070;}
.fotter ul li a {font-family:"Calibri";font-size:14px;color:#707070;text-decoration:none;font-style:italic;padding:0 6px;}
.fotter ul li a:hover {color:#009900;text-decoration:none;}
.copyright {height:auto;margin:0 auto;display:block;}
.copyright p {font-family:"Calibri";font-size:12px;line-height:31px;color:#707070;font-style:italic;text-align:center;}
 /*...............................Fotter Ends............................*/
/*...............................Hotels Resorts Inner Page starts............................*/
.banner1 {width:1000px;height:213px; margin:0 auto;}
.container_top {width:973px;margin:0 auto;background:url(../images/container-top-bg.png) no-repeat left top;position:relative;padding:20px 0 0;}
.container_top h4 {font-family:"Calibri";font-size:20px;line-height:20px;color:#5ba70a;text-decoration:none;padding-left:5px;margin-top:15px;padding-bottom:12px;}
.container_top_up {background:none repeat scroll 0 0 #EEEEEE;height:auto;margin:0 auto;position:absolute;top:-44px;width:972px;}
.container_top_up_right-navigation {height:auto;float:right;margin-top:-29px;}
.container_top_up_right-navigation ul {list-style:none;}
.container_top_up_right-navigation ul li {float:left;}
.container_top_up_right-navigation ul li {padding-right:7px;background:url(../images/aeeow1.png) no-repeat right 8px;line-height:20px;padding:0 12px 0 5px;}
.container_top_up_right-navigation ul li a {font-family:"Calibri";font-size:14px;line-height:20px;color:#232923;text-decoration:none;}
.container_top_up_right-navigation ul li a:hover {text-decoration:none;color:#5ba70a;}
.container_top_up h3 {font-family:'SariMedium';font-size:22px;line-height:45px;color:#232923;text-decoration:none;padding-left:19px;}
.hotelresort {padding:0 15px;}
.hotelresort p {color:#535353;font-family:"Calibri";font-size:14px;line-height:22px;margin:0 0 15px 0;}
 p.italic {color:#535353;font-family:"Calibri";font-size:15px;line-height:20px;font-style:italic;margin:0 0 15px 0;padding:0px;}
 .resort {float:left;width:222px;margin:0 15px 0 0;}
 .resort .top {background:url(../images/resorttop.gif) no-repeat left top;height:4px;width:222px;}
 .resort .btm {background:url(../images/resortbtm.gif) no-repeat left top;height:4px;width:222px;}
 .resort .mid {background:url("../images/resortmid.gif") repeat-y scroll left top transparent;padding:0 0 12px;width:222px;}
 .resort .mid img {width:200px;margin:11px;position:relative;}
 .resort .mid h4 {font:16px/20px SariMedium;color:#221d1d;padding:5px 0 5px 11px;margin:0px;}
 .resort .mid h4 a {text-decoration:none;color:#221d1d;}
 .resort .mid h4 a:hover {color:#258e01;}
 .resort .mid ul {padding:0 0 0 6px;}
 .resort .mid ul li {list-style:none;background:url(../images/raw.png) no-repeat left 5px;padding:0 0 0 20px;color:#2E2E5C;font-family:"Calibri";font-size:13px;line-height:25px;text-decoration:none;}
 .resort .mid ul li a {text-decoration:none;color:#6e6e6e;font-family:"Calibri";font-size:15px;line-height:25px;}
 .resort .mid ul li a:hover {color:#221d1d;}
 .view-more {background:url("../images/a-bg.png") no-repeat scroll left top transparent;height:25px;margin:12px 0 0px 15px;width:96px;float:left;}
.view-more a {color:#FDFDFD;font-family:'SansationRegular';font-size:13px;line-height:25px;padding:0 16px;text-decoration:none;display:block;}
.view-more a:hover {color:#003204;text-decoration:none;}
/*...............................Hotels Resorts Inner Page Ends......................................*/
/********************blog section****************************/
.latest-blog-section{width: 100%;
    float: left;    
    padding: 50px 0;}
.latest-inner {
    width: 100%;
    float: left;
}
.latest-inner h3 {
   	font: 25px/40px 'SariMedium';    
	color: #9a5107;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #41640180;
    position: relative;
    text-align: center;
}
.latest-inner h3:before {
    content: "";
    width: 382px;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    margin: auto;
    background: #41640180;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
}
.latest-outer {
    width: 32%;
    float: left;
    padding: 0px;
    margin-top: 40px;
    border: 1px solid #ebebeb;
	margin-right: 8px;
	margin-left: 8px;
}
.latest-outer:nth-child(odd){margin-right: 0;margin-left: 0;} 
.latest-left {
    float: left;
    width: 100%;
    overflow: hidden;
}
.latest-left img {
    max-width: 100%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
}
.latest-right {    
    float: left;
    padding: 35px 20px;
}
.latest-right p {
    color: #545b65;
    font:12px/19px "Calibri";
    padding: 0 0 15px;
    margin: 0;
}
.latest-right h3 {
    padding-top: 0px;
    color: #363c43;
    font: 18px/24px 'SariMedium'; 
    margin: 0px;
    padding-bottom: 10px;
    border: none;
    text-align: left;
}
.latest-right h3:before{display: none;}
.latest-right .view {
    padding-top: 5px;
}
.view {
    color: #416401;
    text-decoration: none;
    font:14px/20px 'SariMedium';    
    float: left;
}
.latest-right p label {
    color: #416401;
    font: 13px/20px 'SariMedium';
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
/**************end blog section***************/

/*...............................Hotels Resorts Details Inner Page starts............................*/
.container_main {width:943px;height:auto;margin:0 auto;}
.container_main_left {width:680px;height:auto;float:left;background:#FFFFFF;padding:0 0 20px 0;}
.content {width:664px;height:auto;float:left;margin-top:25px;padding:0 8px;}
.content img {padding:0 0px 12px 12px;float:right;}
.content p {font-family:"Calibri";font-size:14px;line-height:20px;color:#435152;text-decoration:none;padding:0 10px 20px 20px;}
.container_main_left_top {width:680px;height:42px;float:left;background:url(../images/tab-boc-bg.jpg) repeat-x left top;-moz-border-radius:3px 3px 0px 0px;-webkit-border-radius:3px 3px 0px 0px;-o-border-radius:3px 3px 0px 0px;-ms-border-radius:3px 3px 0px 0px;border-radius:3px 3px 0px 0px;}
.container_main_left_top ul {list-style:none;padding:0 0 0 11px;}
.container_main_left_top ul li {float:left;padding:0px 0 0 0;margin:0 5px 0 0;}
.container_main_left_top ul li a {font-family:'SansationRegular';font-size:13px;line-height:42px;color:#ffffff;text-decoration:none;text-transform:uppercase;padding:0 0 0 3px;height:42px;float:left;background:url(../images/divider.gif) right top no-repeat;}
.container_main_left_top ul li a:hover, .container_main_left_top ul li a.selected {text-decoration:none;background:url(../images/li_span.png) left 6px no-repeat;color:#435152;}
.container_main_left_top ul li a span {padding:0 13px;float:left;}
.container_main_left_top ul li a:hover span, .container_main_left_top ul li a.selected span {background:url(../images/li.png) right 6px no-repeat;}
.container_main_right {width:245px;height:auto;float:right;}
.container_main_right_top {width:245px;height:auto;float:right;background:#FFFFFF;}
.container_main_right_bottom {width:242px;height:auto;float:right;}
.container_main_right h5 {font-family:'calibri';font-size:23px;line-height:42px;color:#232923;background:#fafafa;padding-left:15px;}
.content h3 {font-family:'SansationBold';font-size:23px;line-height:20px;color:#232923;text-decoration:none;padding-left:19px;padding-bottom:7px;}
.content ul {margin:0 0 20px;}
.contentul {list-style:none;padding-bottom:80px;}
.content ul li {display:block;background:url(../images/green-ciscle.png) no-repeat 19px 7px;font-family:"Calibri";font-size:14px;line-height:23px;color:#435152;text-decoration:none;padding:0 36px;}
.form-box {width:214px;height:auto;margin:10px auto 0 auto;padding-top:0px;}
.form-box label {font-family:"Calibri";font-size:12px;line-height:25px;color:#363f41;}
.row {width:212px;height:26px;background:url(../images/input-bg.gif) no-repeat left top;padding:2px;margin:0 0 10px;}
.row input {border:0 none;color:#435152;font-family:"Calibri";font-size:13px;height:18px;line-height:20px;padding:2px;width:199px;}
.row2 {width:220px;height:90px;background:url(../images/textarea.jpg) no-repeat left top;padding:2px;}
.row2 .area {border:0px none;min-width:207px;;height:90px;font-family:"Calibri";font-size:14px;line-height:20px;}
.person {height:auto;}
.person_left {height:auto;float:left;margin-right:7px;}
.person_left label {font-family:"Calibri";font-size:12px;line-height:35px;color:#363f41;text-transform:uppercase;}
 .row1 {width:92px;height:auto;float:left;background:url(../images/input1-bg.gif) no-repeat left top;padding:2px;width:92px;margin:0 0 10px}
.row1 input {border:0 none;color:#435152;font-family:"Calibri";font-size:13px;height:18px;line-height:20px;padding:2px;width:88px;}
.submit {width:117px;height:30px;float:left;background:url(../images/submit-bg.jpg) no-repeat left top;text-align:center;margin:0px 0 10px;}
.submit input {width:117px;height:30px;float:left;background:url(../images/submit-bg.jpg) no-repeat left top;border:0px none;cursor:pointer;text-indent:-999999px;}
.right_kanha_main {width:245px;height:auto;float:right;background:#FFFFFF;margin:0px 0 0 0;}
.right_kanha_main img {padding:10px;}
.right_kanha_main ul {list-style:none;}
.right_kanha_main ul li {display:block;font-family:"Calibri";font-size:13px;line-height:35px;color:#514e4e;border-bottom:#d6d5d5 dotted 1px;padding:0 16px;}
.right_kanha_top {width:242px;height:36px;background:url(../images/right-kanha-bg.png) no-repeat left top;}
.right_kanha_top h6 {font-family:'SansationBold';font-size:13px;line-height:36px;color:#514e4e;text-transform:uppercase;background:url(../images/plus-icon.png) no-repeat right 10px;height:36px;padding-left:10px;margin-right:9px;}
/*************************************************tab****************************/
.tabcontent {display:none;}
 .shadetabs {background:url(../images/tab-boc-bg.jpg) repeat-x scroll left top transparent;padding:0px 0 0 11px;float:left;height:42px;width:669px;margin:0 !important;list-style-type:none;text-align:left;-moz-border-radius:3px 3px 0px 0px;-webkit-border-radius:3px 3px 0px 0px;-o-border-radius:3px 3px 0px 0px;-ms-border-radius:3px 3px 0px 0px;border-radius:3px 3px 0px 0px;/*set to left, center, or right to align the menu as desired*/
}
.shadetabs li {float:left;margin:0;padding:0 5px !important;background:url(../images/divider.gif) no-repeat scroll right top !important;}
.shadetabs li a {color:#FFFFFF;float:left;font-family:'SansationRegular';font-size:13px;height:42px;line-height:42px;padding:0 0 0 3px;text-decoration:none;text-transform:uppercase;}
.shadetabs li a:hover, .shadetabs li a.selected {text-decoration:none;background:url(../images/li_span.png) left 6px no-repeat;color:#435152;}
.shadetabs li a span {padding:0 13px 0 10px;float:left;margin:0px;color:#fff;}
.shadetabs li a:hover span, .shadetabs li a.selected span {background:url(../images/li.png) right 6px no-repeat;color:#435152 !important }
.tabcontent {display:none;}
/************************************accordian**********************************/
.arrowlistmenu {width:245px;margin:0px 0 15px 0;background:#FFFFFF;}
.arrowlistmenu img {padding:13px;}
.arrowlistmenu .menuheader {background:url(../images/titlebar-active-bg.jpg) repeat-x ; text-transform:uppercase;line-height:34px;cursor:hand;cursor:pointer;font-family:'calibri';font-size:16px;line-height:36px;color:#000;text-transform:uppercase;font-weight:normal;}
.arrowlistmenu .menuheader:after{ background:url(../images/titlebar-active-plus.jpg) no-repeat left 11px; float:right; content:""; height:26px; margin:0 9px 0 0; display:block; width:16px;}
.menuheader h3 {font-family:'SansationBold';font-size:13px;line-height:36px;color:#514e4e;text-transform:uppercase;}
.arrowlistmenu .openheader {background:url(../images/titlebar-active-bg.jpg) repeat-x ;}
.arrowlistmenu .openheader:after{ background:url(../images/titlebar-active-minus.jpg) no-repeat left 11px; float:right; content:""; height:26px; margin:0 9px 0 0; display:block; width:16px;}


.arrowlistmenu ul {list-style-type:none; width:100%; margin:0;padding:0;margin-bottom:8px;}
.arrowlistmenu ul li {padding:0 0 2px 7px;}
.arrowlistmenu ul li a {background:url("../images/arrow2.png") no-repeat scroll left 13px transparent;border-bottom:1px dotted #D6D5D5;color:#514E4E;display:block;font-family:"Calibri";font-size:15px;padding:8px 12px;text-decoration:none;}
.arrowlistmenu ul li a:hover {color:#FFFFFF;background:url(../images/arrowwhite.png) no-repeat scroll left 13px #5BA70A;}
/***detail page***/
.detailtop {}
.detailtop h2 {color:#5BA70A;font-family:"Calibri";font-size:20px;line-height:20px;font-weight:normal;margin:12px 0 12px 20px;}
.detailtop h3 {color:#435152;font-size:14px;line-height:20px;font-weight:normal;font-family:"Calibri";margin:0 20px;border-bottom:1px dotted #D6D5D5;padding:0 0 6px;}
.detailtop h4 {color:#221D1D;float:left;font-family:SariMedium;font-size:18px;font-weight:normal;line-height:20px;margin-top:20px;padding:0 0 10px;}
.detailtop h5 {color:#221D1D;font-family:SariMedium;font-size:18px;font-weight:normal;line-height:20px;margin-top:20px;padding:0 20px 10px 20px;}
.detailtop .imgleft {float:left;margin:20px;}
.detailtop .imgleft2 {float:left;margin:0 20px 0px 20px;}
.detailtop .imgrgt2 {float:right;margin:0 20px 0px 20px;}
.detailtop .right {float:left;width:360px;background:url(../images/detailtopbg.gif) no-repeat center top;}
.detailtop .right ul {float:left;margin:10px 0 0 0;width:180px;}
.detailtop .right ul li {list-style:none;background:url(../images/arrowgreen.png) no-repeat left 12px;color:#435152;font-size:14px;font-family:"Calibri";line-height:31px;padding:0 0 0 10px;}
.detailtop .right2 {float:left;width:639px;background:url(../images/detailtopbg.gif) no-repeat center top;padding:0 20px;}
.detailtop .right2 ul {float:left;margin:10px 0 0 0;width:212px;}
.detailtop .right2 ul li {list-style:none;background:url(../images/arrowgreen.png) no-repeat left 12px;color:#435152;font-size:14px;font-family:"Calibri";line-height:31px;padding:0 0 0 10px;}
.detailrgt {width:244px;background:#fff;margin:0 0 20px 0;}
.detailrgt h3 {background:url(../images/h2right.gif) no-repeat right top;color:#514e4e;font-size:13px;width:245px;height:34px;line-height:34px;font-family:'SansationRegular';}
.detailrgt h3 span {background:url(../images/h3left.gif) no-repeat left top;height:34px;display:block;padding:0 0 0 15px;}
.detailrgt img {margin:15px 13px;}
.arrowlistmenu ul li.arrow {padding:0 13px 2px 13px;}
.arrowlistmenu ul li.arrow a {background:url(../images/arrowgreen.png) no-repeat left 14px;padding:0 0 0 10px;display:block;}
.btm {background:url(../images/bottom.jpg) no-repeat left top;margin:0;padding:0;height:3px;width:244px;}
.arrowlistmenu ul li.arrow a:hover {background-color:#F3F3F3;color:#A70303;}
.nomargintop {margin-top:0px !important;}
.nomarginrgt {margin-right:0px !important;}
.bdrrgt {border-right:1px solid #e4e3e3 !important;}
.sliderbutton {float:right;width:32px;padding-top:134px}
.sliderbutton img {cursor:pointer}
.sliderbutton img:hover {background:#666}
#slideshow {float:left;width:1000px;height:auto;}
#slides {position:relative;width:1000px;height: auto;list-style:none;overflow:auto}
#slides li {width:1000px;height:auto;}
.pagination,.centered-btns_tabs {background:url("../images/js-button-bg.png") no-repeat scroll 0 0 transparent;height:26px;right:32px;list-style:none outside none;padding-left:10px;position:absolute; bottom: 10%;width:97px;z-index:99999;}
.pagination li, .centered-btns_tabs li a {float:left;cursor:pointer;width:18px;height:12px;background:url(../images/js-button-white.png) no-repeat 0 0;text-indent:-9999px;margin:10px 0;width:13px; text-indent: -9999px;}
.pagination li:hover, .centered-btns_tabs li a:hover {background:url(../images/js-button-red.png) no-repeat 0px 0;  }
.centered-btns_tabs li.centered-btns_here a {background:url(../images/js-button-red.png) no-repeat left 0;}
.slide1 {background:url(../images/kanha-national-park-5.jpg) no-repeat 0 0;height:367px;width:1000px;padding:0;}
.slide1 h2 {font-family:'SariMedium';font-size:45px;line-height:52px;color:#ffffff;width:538px;float:right;padding-top:60px;padding-right:18px;}
.slide1 p {font-family:"Calibri";font-size:13px;line-height:20px;color:#ffffff;width:538px;clear:both;padding:15px 18px 0 0;float:right;}
.slide1 p a {font-family:"Calibri";font-size:13px;line-height:20px;color:#ffffff;background:url(../images/circle-icon.png) no-repeat right 3px;text-decoration:none;padding-right:18px;}
.slide1 p a:hover {text-decoration:none;color:#009900;}
.slide2 {background:url(../images/kanha-national-park-2.jpg) no-repeat 0 0;height:367px;width:1000px;}
.slide2 h2 {font-family:'SariMedium';font-size:45px;line-height:52px;color:#ffffff;width:538px;float:right;padding-top:60px;padding-right:18px}
.slide2 p {font-family:"Calibri";font-size:14px;line-height:20px;color:#ffffff;width:538px;clear:both;padding:15px 18px 0 0;float:right;}
.slide2 p a {font-family:"Calibri";font-size:13px;line-height:20px;color:#ffffff;background:url(../images/circle-icon.png) no-repeat right 3px;text-decoration:none;padding-right:18px;}
.slide2 p a:hover {text-decoration:none;color:#009900;}
.slide3 {background:url(../images/kanha-national-park-3.jpg) no-repeat 0 0;height:367px;width:1000px;}
.slide3 h2 {font-family:'SariMedium';font-size:45px;line-height:52px;color:#ffffff;width:538px;float:right;padding-top:60px;padding-right:18px}
.slide3 p {font-family:"Calibri";font-size:14px;line-height:20px;color:#ffffff;width:538px;clear:both;padding:15px 18px 0 0;float:right;}
.slide3 p a {font-family:"Calibri";font-size:13px;line-height:20px;color:#ffffff;background:url(../images/circle-icon.png) no-repeat right 3px;text-decoration:none;padding-right:18px;}
.slide3 p a:hover {text-decoration:none;color:#009900;}
.slide4 {background:url(../images/kanha-national-park-4.jpg) no-repeat 0 0;height:367px;width:1000px;}
.slide4 h2 {font-family:'SariMedium';font-size:45px;line-height:52px;color:#ffffff;width:538px;float:right;padding-top:60px;padding-right:18px}
.slide4 p {font-family:"Calibri";font-size:14px;line-height:20px;color:#ffffff;width:538px;clear:both;padding:15px 18px 0 0;float:right;}
.slide4 p a {font-family:"Calibri";font-size:13px;line-height:20px;color:#ffffff;background:url(../images/circle-icon.png) no-repeat right 3px;text-decoration:none;padding-right:18px;}
.slide4 p a:hover {text-decoration:none;color:#009900;}
.slide5 {background:url(../images/kanha-national-park-1.jpg) no-repeat 0 0;height:367px;width:1000px;}
.slide6 {background:url(../images/kanha-national-park6.jpg) no-repeat 0 0;height:367px;width:1000px;}
.slide5 h2 {font-family:'SariMedium';font-size:45px;line-height:52px;color:#ffffff;width:538px;float:right;padding-top:60px;padding-right:18px}
.slide5 p {font-family:"Calibri";font-size:14px;line-height:20px;color:#ffffff;width:538px;clear:both;padding:15px 18px 0 0;float:right;}
.slide5 p a {font-family:"Calibri";font-size:13px;line-height:20px;color:#ffffff;background:url(../images/circle-icon.png) no-repeat right 3px;text-decoration:none;padding-right:18px;}
.slide5 p a:hover {text-decoration:none;color:#009900;}
#slider-wrapper {width:996px;height:392px;margin:0 auto;}
 #slider {position:relative;width:966px;margin:0 auto;}
#slider img {position:absolute;top:0px;left:0px;display:none;}
#slider a {border:0;display:block;}
.text {height:81px;padding:2px;width:212px;background:url(../images/textarea.gif) no-repeat left top;margin:0 0 10px;}
.text textarea {width:197px;height:77px;max-width:197px;max-height:77px;min-width:197px;min-height:77px;border:0px none;color:#435152;font-family:"Calibri";font-size:14px;padding:0 5px;line-height:20px;}
.footercontent {background:url(../images/footerbdr.gif) repeat-x left 31px;width:934px;margin:30px auto 0 auto;}
.footercontent .part {float:left;background:url(../images/partbg.gif) no-repeat left 27px;width:222px;padding:0 0 0 15px;}
.footercontent .part h3 {color:#258E01;font-size:15px;margin:0 0 11px 0;font-family:"Calibri";font-weight:bold;}
.footercontent .part h3 a {text-decoration:none;color:#258e01;font-weight:bold;}
.footercontent .part h3 a:hover {color:#435152;}
.footercontent .part ul {}
.footercontent .part ul li {list-style:none;color:#707070;font-size:14px;font-family:"Calibri";background:url(../images/hand.png) no-repeat scroll left 10px transparent;padding:0 0 0 20px;}
.footercontent .part ul li a {color:#435152;text-decoration:none;line-height:29px;}
.footercontent .part ul li a:hover {color:#566626;}
.footercontent .part ul li a span {color:#5ba70a;}
.nopaddingleft {padding-left:0px !important;}
/*****resort in ranthambore************/
.listing {margin:0 0 12px 0;}
.listing .left {background:url(../images/listingleft.gif) no-repeat left top;width:945px;height:5px;}
.listing .rgt {background:url(../images/listingrgt.gif) no-repeat left top;width:945px;height:5px;}
.listing .mid {background:url(../images/listingmid.gif) repeat-y left top;width:945px;}
.listing .mid .imgleft {float:left;margin:11px;}
.listing .mid h2 {font-family:'SariMedium';color:#221d1d;font-weight:normal;font-size:16px;line-height:20px;padding:11px 0 0 0;}
.listing .mid h2 a {text-decoration:none;color:#221d1d;}
.listing .mid h2 a:hover {color:#258E01;}
.listing .mid p {margin:5px 0 0 0;font-family:"Calibri";padding:0 10px 0 0;}
.listing .mid p span {color:#6d8d06;font-weight:bold;margin:0px;}
 .listing .mid .view-more {background:url("../images/a-bg.png") no-repeat scroll left top transparent;height:25px;margin:9px 0 0 0px;width:96px;float:left;}
.listing .mid .view-more a {color:#FDFDFD;font-family:'SansationRegular';font-size:13px;line-height:25px;padding:0 16px;text-decoration:none;display:block;}
.listing .mid .view-more a:hover {color:#003204;text-decoration:none;}
.detailtop p {padding:0 20px;color:#435152;font-family:"Calibri";font-size:14px;line-height:20px;margin-bottom:20px;}
.detailtop p span {color:#6d8d06;font-weight:bold;}
.container_main_left h2 {color:#5BA70A;font-family:"Calibri";font-size:20px;font-weight:normal;line-height:20px;margin:12px 0 12px 20px;}
.container_main_left h2 span {color:#000;font-family:"Calibri";font-size:14px;font-weight:normal;line-height:20px;margin:0px !important;}
.content h5 {color:#232923;font-family:'SansationBold';font-size:17px;line-height:20px;padding-bottom:7px;padding-left:19px;text-decoration:none;}
b {margin:0 0 0 20px;color:#5BA70A;}
.content p span {color:#6D8D06;font-weight:bold;}
.greenbg {background:#5ba70a !important;}
.light {background:#ece9e4 !important;}
.rupee {margin:0;padding:0px !important;float:none !important;}
.normal {margin:0px;padding:0px !important;font-family:Arial, Helvetica, sans-serif !important;font-size:12px !important;line-height:18px !important;}
table.package {margin:20px auto;width:639px;background:#f9f3e8;}
table.package tbody tr td {padding:5px;vertical-align:text-top;color:#535353;line-height:18px;border:1px solid #e6d4b4;}
table.package tbody tr td.nobdrtop {border-top:0px !important;}
table.package tbody tr td.nobdrleft {border-left:0px !important;}
.container_main_left p {padding:0 3px;font-family:"Calibri";font-size:14px;line-height:22px;color:#535353;margin:0 0 15px 0;}
.container_main_left p b {color:#5BA70A;margin:0 0 0 0px;}
.container_main_left p span {font-weight:bold;color:#514E4E;margin:0px;}
.imgrightday {float:right;margin:5px 0px 11px 11px;}
.container_top span {margin:0 0 0 8px;font-family:"Calibri";font-size:14px;font-weight:bold;color:#221D1D;}
.listing2 h2 {color:#221D1D;font-family:'SariMedium';font-size:16px;font-weight:normal;line-height:20px;padding:11px 0 0;}
.listing2 p {font-family:"Calibri";margin:5px 0 0;}
.listing2 p span {color:#6D8D06;font-weight:bold;}
.container_main_left ul {margin:0 0 10px;}
.container_main_left ul li {background:url("../images/green-ciscle.png") no-repeat scroll 19px 8px transparent;color:#435152;display:block;font-family:"Calibri";font-size:14px;line-height:24px;padding:0 36px;text-decoration:none;}
.form-box label.error {color:#FF3300;font-family:"Calibri";font-size:11px;line-height:15px;text-transform:none;}
.container_main_left p a {color:#535353;text-decoration:none;}
.container_main_left p a:hover {text-decoration:underline;}
.contact {background:none repeat scroll 0 0 #FAEFDD;border:4px solid #6D8E06;color:#535353;float:left;font-family:"Calibri";font-size:14px;height:200px;line-height:22px;margin:30px 0 15px 20px !important;padding:10px !important;width:280px;text-align:center;}
.contact a{text-decoration: none !important;}
.contact a:hover{text-decoration: none;color: #6d8e06;}
.arrowlistmenu ul li span {margin:0px;padding:0px;text-align:right;}
.arrowlistmenu ul li span a {background:none;text-decoration:none;font-weight:bold;color:#330000;font-family:"Calibri";}
.arrowlistmenu ul li span a:hover {background:none;color:#330000;}
.PageQueryBox {float:none;margin:30px auto;width:466px;}
.QueryContentBox {background:none repeat scroll 0 0 #F3F3F3;border:4px solid #6D8E06;color:#55606F;display:none;font-size:12px;line-height:22px;padding:15px 15px 5px;width:430px;}
.QueryContentBox {background:none repeat scroll 0 0 #FAEFDD;border:4px solid #6D8E06;color:#55606F;display:block;font-size:12px;line-height:22px;padding:15px 15px 5px;width:430px;}
.QueryRight {float:left;height:52px;width:200px;}
.QueryLeft {float:left;height:52px;width:220px;}
.QueryContentBox .field {border:1px solid #CCCCCC;height:22px;line-height:24px;margin:0;padding:0 5px;width:200px;color:#514E4E;font-family:"Calibri";font-size:13px;}
.QueryContentBox .red {color:#FF0000;}
.QueryContentBox .field2 {border:1px solid #CCCCCC;height:22px;line-height:24px;margin:0;padding:0 5px;width:80px;color:#514E4E;font-family:"Calibri";font-size:13px;}
.QueryAreaBox {margin:0 0 8px;}
.QueryContentBox .field1 {border:1px solid #CCCCCC;height:75px;max-height:75px;min-height:75px;margin:0;padding:0 5px;width:400px;max-width:400px;min-width:400px;color:#514E4E;font-family:"Calibri";font-size:13px;}
.QueryContentBox .red {color:#FF0000;}
.button {background:none repeat scroll 0 0 #6C717A;border:1px solid #999999;color:#FFFFFF;cursor:pointer;font-family:Arial;font-size:12px;height:20px;line-height:16px;margin:10px 10px 0 0;padding:0 0 3px !important;text-transform:uppercase;width:76px;}
.content table {width:639px;border-right:1px solid #6D8D06;margin:0px auto 20px auto;}
.content table tbody tr td {border-left:1px solid #6D8D06;border-bottom:1px solid #6D8D06;color:#535353;padding:8px;vertical-align:text-top;}
.white {background:#fff;}
tr.heading {font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#fff;font-weight:bold;background:#5BA70A;}
tr.heading td {color:#fff !important;}
.top15 {margin-top:15px !important;}
.imgright {float:right!important;margin:10px 10px 15px 0 !important;}
.container_inner1 h2 {background:url("../images/spacer.gif") no-repeat scroll center top transparent;color:#67B427;font-family:'SariMedium';font-size:20px;line-height:40px;margin:0px 0 0;padding:10px 0 0;text-transform:none;}
.container_inner1 h3 {background:url("../images/spacer.gif") no-repeat scroll center top transparent;color:#67B427;font-family:'SariMedium';font-size:20px;line-height:40px;margin:10px 10px 0;padding:10px 0 0;text-align:right;text-transform:none;}
.container_inner1 ul {float:left;}
.container_inner1 ul li {list-style:none;display:inline-block;background:url("../images/green-ciscle2.png") no-repeat scroll left 8px transparent;padding:0 0 0 13px; margin:0 20px 0 0;}
.container_inner1 ul li a {text-decoration:none;color:#09A116;font-size:12px;line-height:20px;}
.container_inner1 ul li a:hover {color:#000;}
#gallery {width:670px;}
#gallery ul {list-style:none;}
#gallery ul li {}
#gallery ul img {border:2px solid #666600;margin:0 8px 8px 0;padding:2px;float:left;}
#gallery ul a:hover img {border:2px solid #666600;color:#fff;}
.detailtop h6 {color:#5CA70A;font-family:"Calibri";font-size:18px;font-weight:normal;line-height:20px;margin:0 20px;padding:0 0 6px;}
.container_top_up h1 {color:#232923;font-family:'SariMedium';font-size:22px;line-height:45px;padding-left:19px;text-decoration:none;}
#jquery-overlay {position:absolute;top:0;left:0;z-index:90;width:100%;height:500px;}
#jquery-lightbox {position:absolute;top:0;left:0;width:100%;z-index:9999;text-align:center;line-height:0;}
#jquery-lightbox a img {border:none;}
#lightbox-container-image-box {position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto;}
#lightbox-container-image {padding:10px;}
#lightbox-loading {position:absolute;top:40%;left:0%;height:25%;width:100%;text-align:center;line-height:0;}
#lightbox-nav {position:absolute;top:0;left:0;height:100%;width:100%;z-index:10;}
#lightbox-container-image-box > #lightbox-nav {left:0;}
#lightbox-nav a {outline:none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {width:49%;height:100%;zoom:1;display:block;}
#lightbox-nav-btnPrev {left:0;float:left;}
#lightbox-nav-btnNext {right:0;float:right;}
#lightbox-container-image-data-box {font:10px Verdana, Helvetica, sans-serif;background-color:#fff;margin:0 auto;line-height:1.4em;overflow:auto;width:100%;padding:0 10px 0;}
#lightbox-container-image-data {padding:0 10px;color:#666;}
#lightbox-container-image-data #lightbox-image-details {width:70%;float:left;text-align:left;}
#lightbox-image-details-caption {font-weight:bold;}
#lightbox-image-details-currentNumber {display:block;clear:left;padding-bottom:1.0em;}
#lightbox-secNav-btnClose {width:66px;float:right;padding-bottom:0.7em;}
.homeimgleft {float:left;margin:10px 10px 15px 0 !important;}
.container_main_left h3 {color:#5BA70A;font-family:"Calibri";font-size:17px;line-height:20px;margin:0px;padding:0 0 5px 20px;text-decoration:none;font-weight:normal;text-transform:uppercase;}
.captcha{ float:right; margin-top:-16px;}
video{ display:block; margin:10px auto 0 37px; padding:2px; border:2px solid #666600}
.Sharethis{  margin: 0 0 18px;}
.Navigation2 .pull{ display:none;}
.Navigation .pull{ display:none;}
.phone-icon{ display:none;}



.resort{ border:1px solid #CCCCCC; border-radius:4px; background:#FFFFFF; }
.resort .top{ background:none;}
.resort .mid{ background:none;}
.resort .btm{ background:none;}




/*--responsive-css-end--*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

/*--responsive-css-end--*/

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:99999;
    overflow-y:scroll;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc .start-popup {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 80%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: -3px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}

/* Popup box BEGIN */
.footer-list{
    display: none;
}


/*--MEDIA-QUERY-START--*/
@media screen and (max-width: 1000px) { 
img{ max-width:100%;}  
#wrapper{ width:98%; margin:0 auto;}
.header{ width:100%; float:none; margin:0 auto;}
.Navigation2{ width:100%; float:none; margin: 0 auto;}
.Navigation{ width:100%; float:none; margin: 0 auto;}
.Navigation ul  li a{ padding:0 30px; margin:0 }
.Navigation2 ul  li a{ padding:0 45px; margin:0 }
.banner{ width:100%; margin:0 auto; float:none;}
.banner1{ width:100%; margin:0 auto;}
#slideshow{ width:100%;}
#slideshow ul#slides,#slides li{ width:100%;}
.container{ width:100%; margin:0 auto; float:none;}
.container_inner{ width:98%; margin:0 auto; float:none; top:-36px;  }
.container_inner:after{ display:block; clear:both; width:100%; height:0; content:"";}
.container_inner_left{ width:24.8%; margin:0 aut 0;} 
.container_inner_left h2 { padding:0 0 0 25px; width:auto;}
.container_inner_left h2 a{ font-size:11px; padding:0 0 0 5px;  line-height:25px;}
.container_inner1{ width:98%; float:none; margin: 0 auto;}
.fotter_wrapper{ width:100%;}
.container_inner_left ul li a{ font-size:12px; line-height:18px;}
.footercontent{ width:98%;}
.footercontent .part{ width:23%;}
.footercontent .part h3{ font-size:13px;}
.footercontent .part ul li a{ line-height:20px;}
.fotter{ border-bottom:1px solid #CC9933; background:none; width:100%; padding-left:0;}
.copyright{ width:100%;}
.container_top{ width:98%; position:relative;}
.container_top_up{ width:100%; position:absolute; top:-44px;}
.container_main{ width:100%;}
.container_main_left{ width:68%;}
.rslides_container{ margin-bottom:0;}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  
.banner1{ height:auto; width:100%;} 
table.package{ width:100%;}
.shadetabs{ width:100%; padding:0;}
.content{ width:100%; padding:0;}
#gallery{ width:100%;}


.content table{ width:100%;}
video{ width:98%; margin-left:0;}
#gallery ul img{ margin: 2px 1px 2px 0;}
.detailtop .right2{ width:100%; padding:0 0 0 2px;}
.resort{ margin-top:2%;}
.PageQueryBox{ width:100%}
.QueryContentBox{ width:85%; margin:0 auto;}
.QueryLeft{ width:52%;}
.QueryContentBox .field{ width:85%;}
.QueryRight{ width:45%;}
.QueryContentBox .field1{ width:100%; padding:0; min-width:100%; max-width:100%;}
.contact{ width:40%; height:auto;}

.listing .mid{ background:#fefaf5; border:1px solid #CCCCCC; border-radius:5px; width:100%;}
.listing .left{ background:none;}
.listing .rgt{ background:none;}

.resort{ border:1px solid #CCCCCC; border-radius:4px; background:#FFFFFF; width:223px;}
.resort .top{ background:none;}
.resort .mid{ background:none;}
.resort .btm{ background:none;}
.listing .mid h2{ padding-left:5px;}
.listing .mid p{ padding-left:5px;}
.listing .mid{ padding:5px 0 5px 3px;}
  
#lightbox-container-image-box{ width:100%!important; height:auto!important;} 
#lightbox-container-image-data-box{ width:100%!important; padding:0;} 
.listing .rgt{ width:0;}
.listing .left{ width:0;}
.container_inner1 p{ padding-left:5px;}
.container_inner1 h2{ padding:5px;}

#lightbox-nav-btnNext{ height:150px!important;}
#lightbox-nav-btnPrev{ height:150px!important;}
#jquery-lightbox {
    top: 25% !important;
}

}

@media screen and (max-width:900px){.container_inner_left{ width:24.8%; min-height:295px; }
.Navigation2 ul  li a{ padding:0 30px;}
.Navigation ul  li a{ padding:0 21px; }
.container_top_up{ width:100%; position:relative;}
.container_top{ width:98%; top:-21px;}
.container_main{ width:100%;}
.container_main_left{ width:68%;}
.centered-btns_tabs, .transparent-btns_tabs, .large-btns_tabs{ bottom:30px; position:absolute; right:2px!important; }
.form-box{ width:98%;}
.row{ width:98%; background:none; border:1px solid #CCCCCC; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px;}
.text{ width:98%; background:none; border:1px solid #CCCCCC; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px;}
.text textarea{ width:96%; min-width:96%;}
 
}

@media screen and (max-width:897px){
.Navigation2 ul li a{ padding:0 21px;}
.centered-btns_tabs, .transparent-btns_tabs, .large-btns_tabs{ bottom:30px; position:absolute; right:2px!important; }
.container_main_left{ width:100%;}
.container_main_right{ width:100%; margin: 2% auto;}
.arrowlistmenu{ width:100%;}
.container_main_right_top{ width:100%; margin:0 0 10px 0;}
.pagination li, .centered-btns_tabs li a{ margin:6px 0;}

}
@media screen and (max-width: 790px) {   
.Navigation2 ul  li a{ padding:0 27px;}
.Navigation ul  li a{ padding:0 21px; font-size:14px;}.latest-outer {width: 31%;}.latest-inner h3::before{width:30px;}
.centered-btns_tabs, .transparent-btns_tabs, .large-btns_tabs{ bottom:30px; position:absolute; right:2px!important;  height:%;}


}

@media screen and (max-width: 768px) {   
.footercontent{ display:none;}
.container_inner_left {  min-height:280px;}
.container_top_up_right-navigation{ display:none;}
.form-box label.error{ margin-top: 5px; width: 96%;    float: left;}
.row input{width: 96%;} 
.row{margin:0 0 15px}
.container_top span {margin:0px;}
}

@media screen and (max-width: 767px) {
#st-2.social_show{display:block !important; bottom: 49px;}
#st-2 .st-btn[data-network="linkedin"] {background-color: #dc4e41;display: inline-block !important;}
#st-2 .st-btn[data-network="email"] {background-color: #dc4e41;display: inline-block !important;}
#st-2 .st-btn[data-network="sharethis"] {display:none !important;}
#st-2{display: none !important;}
.footer-list{width:100%;background:#5ba70a;z-index:9999;position:fixed;bottom:0;display:block;}
.footer-list ul{list-style:none;margin:0;padding:0;display:flex;width:100%;height:50px;align-items:center;}
.footer-list ul li a, .footer-list ul li{display:block;color:#fff;font-size:12px;font-family:'Poppins', sans-serif;text-decoration: none;
height:100%;padding:5px 5px;-moz-box-sizing:border-box;-moz-transition:all 0.2s ease-in;-ms-transition:all 0.2s ease-in;-o-transition:all 0.2s ease-in;-webkit-transition:all 0.2s ease-in;transition:all 0.2s ease-in;cursor:pointer;text-align:center;width:100%;}
.fa-img{display:block;margin-left:auto;margin-right:auto;}
  .latest-outer {
    width: 95%;
  } 

}

@media screen and (max-width: 755px) {   
.Navigation2 ul  li a{ padding:0 15px;}
.Navigation ul  li a{ padding:0 11px; font-size:14px;}
.container_inner_left { width:24.5%; min-height:295px;}
.container_inner_left h2 a{ line-height:25px; font-size:13px;}
.fotter ul li a{ font-size:15px;}
.fotter_wrapper{ background:none; margin:0 auto;}
.centered-btns_tabs, .transparent-btns_tabs, .large-btns_tabs{ bottom:30px; position:absolute; right:2px!important; }
}

@media screen and (max-width: 655px) {   .latest-outer {width: 47%;}
.Navigation2 ul  li a{ padding:0 13px; font-size:12px;}
.Navigation ul  li a{ padding:0 9px; font-size:12px;}
.fotter_wrapper{ background:none; margin:0 auto;}
fotter{ margin:0 auto;}
.footercontent .part{ width:22%;}
.container_inner1 ul li a{ font-size:11px;}
.centered-btns_tabs, .transparent-btns_tabs, .large-btns_tabs{ bottom:30px; position:absolute; right:2px!important;  height:11%;}
.container_top_up_right-navigation{ display:none;}
.container_main_left{ margin-top:-45px;}
.banner1 img{ height:100px;}
.resort{ width:47%}
.resort .mid { width:100%;}
.resort .mid img{ width:90%;}
#lightbox-nav a{ position:absolute; top:200px;} 
.hotelresort {   margin-top: -33px;   padding: 0 15px;}
}

@media screen and (max-width: 555px) { 
.container_top_up h1{ line-height:27px; font-size:15px;}  
.Navigation2 ul  li a{ padding:0 8px; font-size:11px; }
.Navigation ul  li a{ padding:0 8px; font-size:10px;}
.footercontent .part{ width:22%;}
.container_inner_left h2 a{ line-height:20px; font-size:11px;}
.footercontent .part h3 a{ line-height:13px; font-size:11px;}
.fotter_wrapper{ background:none;}
.container_inner1 img{}
.fotter ul li a{ font-size:12px;}
.centered-btns_tabs, .transparent-btns_tabs, .large-btns_tabs{ bottom:30px; position:absolute; right:2px!important;  height:11%;}
.container_inner_left{ width:49.5%; min-height:260px;  margin:5px 0;}
.container_inner_left img{ width:100%;}
.container_inner_left h2 a{line-height:35px;}
.container_top{ top:15px;}
.container_main_left{ width:100%;}
.container_main_left p, .contact{ width:85%; height:auto; margin:7px 0 0 7px;!important; }
.resort{ width:48%; margin-right:2px;}
.resort .mid img{ width:90%;}
.resort .top{ width:98%;}
.resort .mid{ width:98%;}
.resort .btm{ width:98%;}
}

@media screen and (max-width: 480px) {
#st-2 .st-btn[data-network='linkedin']{display:inline-block !important;}
.container_top{ top:10px;}.latest-outer {width: 96%;}.latest-blog-section .latest-left img{width:100%;}
.phone-icon{ float:left; position:absolute; right:88px; top:52px; z-index:999; display:block;} 
.banner{ position:relative;}
.header_right{ display:none;}
.fotter ul li a{ font-size:12px;}
.Navigation2 ul li{ display:none;}
.Navigation2, .menu{ position: relative; height:auto; display:block;}
.menu .pull{ display:block; position:absolute; right:5px; bottom:21px; text-decoration:none; font:15px Calibri; color:#fff; font-weight:bold; background:#5ba70a url(../images/mobi-icon.gif) no-repeat 90% center; width:65px; line-height:34px; height:34px; border-radius:5px; padding:0 0 0 8px; text-align:left;}
.menu ul { display:none; width:145px; float:right; position:absolute; right:5px; top:-24px ;z-index:9999;  background:#5ba70a; border-radius:5px 0px 5px 5px; padding:0 0 8px 0;}
.menu ul li a{ background:none; width:100%; line-height:25px; padding:0 0 0 5px; font-size:12px;}
.menu ul li { background:none; padding:3px 0 3px 0; border-bottom:1px solid #f1f1f1; width:100%;} 
.menu ul li a:hover{ color:#000000;}
#lightbox-nav a{ position:absolute; top:100px; } 

.Navigation ul li{ display:none;}
.Navigation, .menu{ position: relative;  height:auto; display:block;}
.menu .pull{ display:block; position:absolute; right:5px; bottom:21px; text-decoration:none; font:15px Calibri; color:#fff; font-weight:bold; background:#5ba70a url(../images/mobi-icon.gif) no-repeat 90% center; width:68px; line-height:34px; height:34px; border-radius:5px; padding:0 0 0 8px; text-align:left;}
.menu ul { display:none; width:200px; float:right; position:absolute; right:5px; top:-24px ;z-index:9999;  background:#5ba70a; border-radius:5px 0px 5px 5px; padding:0 0 8px 0;}
.menu ul li a{ background:none; width:100%; line-height:25px; padding:0 0 0 5px; font-size:13px;}
.menu ul li { background:none; padding:3px 0 3px 0; border-bottom:1px solid #f1f1f1; width:100%;} 
.menu ul li a:hover{ color:#000000;}



.container_inner_left{ width:49%; min-height:260px;  margin:5px 0;}
.container_inner_left h2 a{line-height:30px;}
.centered-btns_tabs, .transparent-btns_tabs, .large-btns_tabs{ bottom:30px; position:absolute; right:2px!important; width:30%; height:15%;}
.shadetabs li a span { font-size:15px; padding:0 6px 0 0;}
.resort{ width:48%; margin-right:2px;}
.resort .mid img{ width:90%;}
.resort .top{ width:98%;}
.resort .mid{ width:98%;}
.resort .btm{ width:98%;}
#gallery ul img {  margin: 2px 3px 2px ;  width: 26%;}
.container_main_left p, .contact{ width:95%;}
}

@media screen and (max-width: 450px) {
.shadetabs li a span { font-size:10px; padding:0 1px 0 0;}
.shadetabs li{ background:none!important;}

.header .logo{ background-size:75%;} 
.footercontent .part{ padding:0 0 0 10px;}
.container_inner1 h2{ font-size:15px; line-height:25px;}
.footercontent{ display:none;}
.fotter { padding:0 0 20px 0;}
.fotter ul li a{ font-size:14px;}
.centered-btns_tabs, .transparent-btns_tabs, .large-btns_tabs{ bottom:26px; position:absolute; right:2px!important;  height:19%;}
.pagination li, .centered-btns_tabs li a{ margin:5px 0;}
.container_inner_left{ width:49%; min-height:320px;  margin:5px 0;}

}


@media screen and (max-width: 400px) {	
.resort{ width:95%;}	
	}

@media screen and (max-width: 360px) {	
.resort{ width:95%;}	
.listing .mid .imgleft{ width:90%;}
#lightbox-nav a{ position:absolute; top:60px; height:50px; }
.header .logo{ margin:32px 0 3px 10px; width:168px; }
.header .logo a{width:118px;height:50px;}
.container_inner1 h1{ font-size:20px; line-height:30px;    margin: -20px 0 0;}
} 

	}
@media screen and (max-width: 320px) {
.header .logo{ background-size:75%;} 
.container_inner_left h2 a{ line-height:20px;}
.centered-btns_tabs, .transparent-btns_tabs, .large-btns_tabs{ bottom:30px; position:absolute; right:2px!important; width:29%; height:20%;}
.Navigation ul li a{ font-size:11px;}
.container_inner_left{ width:49%; min-height:280px;  margin:5px 0;}

.resort{ width:98%; margin-right:2px;}
.hotelresort{ padding-bottom:15px;}
.listing .mid h2{ width:90%;}
.container_inner_left h2{ background:url("../images/circle-green.png") no-repeat scroll 8px 4px transparent;}

.header .logo{ margin:32px 0 3px 10px; width:121px; height:50px;}
.header .logo a{width:150px;}

}

/*--MEDIA-QUERY-END--*/
